<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles/login.css">
    <script src="../static/scripts/login.js"></script>
</head>
<body>
    <div class="login-form">
        <h1>Login</h1>
        <form>
            <div class="input-field">
                <label>Your login</label>
                <input type="text" id="username">
            </div>
            <div class="input-field">
                <label>Your password</label>
                <input type="password" id="password">
            </div>
            <!-- <button type="checkbox">
                <img src="../static/images/eye.svg">
            </button> -->
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>