* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /* background: linear-gradient(to bottom, #141e30, #243b55); */
    /* background: linear-gradient(to bottom, #142e1a, #205a20); */
    /* background: #5cdb95; */
    font-family: sans-serif;
    background: #88bdbc;
}

.container {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.login-form {
    background: #254e58;
    padding: 70px 30px;
    width: 300px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 15px 35px rgba(156, 212, 24, 0.7),
                0 -15px 35px rgba(156, 212, 24, 0.7),
                10px 0px 35px rgba(156, 212, 24, 0.7),
                -10px 0px 35px rgba(156, 212, 24, 0.7);
}

h1 {
    text-align: center;
    font: 25px;
    margin-top: -40px;
    padding-bottom: 30px;
    color: white;
}

.input-field {
    width: 100%;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
    height: 25px;
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
}

.input-field label {
    color: white;
    position: relative;
    top: -22px;
    left: 3px;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

form .input-field .data:focus ~ label,
form .input-field .data:valid ~ label {
    position: relative;
    font-size: 12px;
    top: -45px;
    left: -1px;
    color: #8cd418;
    text-shadow: 0 0 8px rgb(156, 212, 24)
}

input[type="submit"] {
    width: 100%;
    outline: none;
    height: 35px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid rgb(156, 212, 24);
    color: rgb(156, 212, 24);
    font-size: 18px;
    transition-duration: 0.4s;
    transform: margin-right 1s;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #8cd418;
    border: 0px;
    color: black;
    transition-duration: 0.4s;
}

label {
    color: white;
    transition-duration: 0.2s;
}

.password-checkbox {
    position: relative;
    top: -15px;
    margin-bottom: 10px;
}
